<html>
	<body>
		<h1>회원가입 폼 입력페이지</h1>
        <form method="post" action="/member/entry">
            아이디: <input type="text" name="memberID"/> </br>
            암호: <input type="password" name="memberPassword"/></br>
            메일주소: <input type="text" name="email"/> </br>
            이름: <input type="text" name="name"/> </br>

            <input type="submit" value="등록"/>
        </form>
	</body>
</html>
